/* PC */
@media (min-width:64em) {
    #menu-mobile{
        display: none;
    }
}



/* Tablet */
@media (min-width:46.25em) and (max-width:63.9375em) {
    #menu-mobile{
        display: none;
    }
}

/* Mobile */
@media (max-width:46.25em){
    
    #nav{
        display:block;
    }

    #nav > li{
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    .search-brt{
        display: none;
    }
    #header{
        overflow: hidden;
    }
    .width-third{
        width:100%;
    }
    .width-hafl {
        width:100%;
    }
    .content-sections .form-control {
        margin-top: 8px;
        margin-left: 16px;
        
    }
    .modal{
        top: -329px;
    }
    .places-img{
        margin-top: 16px;
    }
    #Content .content-sections{
        padding-right: 16px;
    }
    .contact-content{
    margin-left: -8px;
    margin-right: 21px;
    
    }
    #Slider .test-content{
        display: none;
    }
    #Content .member-avt{
        margin-bottom: 16px;
    }
    .btn{
        width:100%;
        text-align: center;
    }
    .send-btn{
        margin-right: -14px;
    }
}